<div class="control-panel">
    <span class="title">
                Enter GPS Coordinates:
            </span>
    <div>
        <div class="input-control">
            <input type="text" id="latitude" placeholder="Latitude" />
        </div>
        <div class="input-control">
            <input type="text" id="longitude" placeholder="Longitude" />
        </div>
        <div class="input-control">
            <input type="button" value="Show Map" id="show-map"></input>
        </div>
    </div>
</div>